@import "tailwindcss";


.loading-div-one {
    display: flex;
    gap: 1rem;
}

@keyframes bounce-animation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50px);
    }
  }

  .animation-delay-0 {
    animation: bounce-animation 1s ease-in-out infinite;
    animation-delay: 0s;
  }
  
  .animation-delay-1 {
    animation: bounce-animation 1s ease-in-out infinite;
    animation-delay: 0.1s;
  }
  
  .animation-delay-2 {
    animation: bounce-animation 1s ease-in-out infinite;
    animation-delay: 0.2s;
  }
  
  .animation-delay-3 {
    animation: bounce-animation 1s ease-in-out infinite;
    animation-delay: 0.3s;
  }
  
  .animation-delay-4 {
    animation: bounce-animation 1s ease-in-out infinite;
    animation-delay: 0.4s;
  }
  
  .animation-delay-5 {
    animation: bounce-animation 1s ease-in-out infinite;
    animation-delay: 0.5s;
  }
  
  .animation-delay-6 {
    animation: bounce-animation 1s ease-in-out infinite;
    animation-delay: 0.6s;
  }
  
  .animation-delay-7 {
    animation: bounce-animation 1s ease-in-out infinite;
    animation-delay: 0.7s;
  }
